@font-face {
	font-family: "Font2";
	src: url("/font/SF-Pro-Text-Regular.ttf");
  }
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #111111;
	font-family: Font2, SF PRO Text;
	user-select: none;
	font-size: xxx-large;
}
body{
	overflow-x: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}